@define-color fg #e6eaea;
@define-color bg rgba(20, 20, 20, 0.75);
@define-color teal #56b6c2;
@define-color red #e06c75;

@define-color teal_dim rgba(58, 126, 134, 0.75);
@define-color red_dim rgba(168, 78, 87, 0.75);

@define-color widget-background rgba(20, 20, 20, 0.75);
@define-color widget-active-background rgba(30, 45, 48, 0.85);

* {
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 12px;
    transition: all 200ms ease-in-out;
    background-color: transparent; 
}

.notification-group {
    background: transparent;
    font-size: 12px;
}

.notification { 
    margin: 2px;
    padding: 2px;
    border: 2px solid @teal; 
    background-color: @bg;
    font-size: 12px;
}

.notification.critical {
    border: 3px solid @red;
}

.control-center {
    border: solid 1px;
    border-color: @teal_dim;
    margin: 8px;
    padding: 16px;
    background-color: rgba(20, 20, 20, 0.75);
    box-shadow: inset 0 0 2px 2px rgba(86,182,194,0.15);
    font-size: 12px;
}

.widget-title {
	margin: 16px;
	margin-bottom: 0px;
}

.widget-title label {
    color: @teal;
    font-weight: bold;
}

.widget-dnd {
	margin: 16px;
}
button {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: @widget-background;
    box-shadow: inset 0 0 2px 2px @bordershadow;
}

button:hover {
    background: @widget-active-background;
}

.widget-mpris {
    margin-bottom: 0px;
    padding: 0px;
    font-size: 10px;
}

.widget-mpris-player {
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px @bordershadow;
}

.widget-mpris-player button {
    border-radius: 99px;
}

.widget-mpris-album-art {
    margin-bottom: 8px;
}

.image {
    margin: 0px 16px 0px 0px;
    padding: 0px;
}

.notification-default-action:hover {
    background: transparent;
}

.widget-dnd > switch {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
    background: @widget-background;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px @bordershadow;
}

switch slider {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: @widget-background;
    box-shadow: inset 0 0 2px 2px @bordershadow;
}

switch slider:hover {
    background: @widget-active-background;
}

.widget-dnd > switch:checked {
    background: @teal;
}

.widget-volume {
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0px 20px 16px 20px;
    background: @widget-background;
    box-shadow: inset 0 0 2px 2px @bordershadow;
}

trough {
    border-radius: 99px;
    border-width: 0px;
    border-color: @widget-active-background;
    background: @widget-active-background;
}

highlight {
    border-radius: 99px;
    border-width: 6px;
    background: rgba(255, 255, 255, 1);
    background: @teal;
    border-color: @teal;
}

.widget-volume slider {
    border: none;
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

.widget-volume slider:hover {
    border: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0);
}
